{% extends "layouts/base.html" %}
{% load static %}
{% block title %} List of Books {% endblock %}

{% block content %}
<h1>List of Books</h1>

<h2>
    <a href="{% url 'books.view_one_book' 1 %}">
        Internet &amp; World Wide Web How to Program
    </a>
</h2>

<img src="{% static 'book1.jpeg' %}" width="200">

<hr>

<h2>C++ How to Program</h2>
<img src="{% static 'book2.jpeg' %}" width="200">

<hr>

<h2>Images in Another Folder</h2>
<img src="{% static 'book3.jpeg' %}" width="200">
{% endblock %}