<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<h2 class="title-box">Unordered List</h2>
<div class="content-box">
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>
            JavaScript
            <ul>
                <li>React</li>
                <li>Vue</li>
            </ul>
        </li>
    </ul>
</div>

<h2 class="title-box">Ordered List</h2>
<div class="content-box">
    <ol>
        <li>Step 1</li>
        <li>Step 2</li>
    </ol>
</div>

</body>
</html>