<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<h2 style="text-align:center;">Students Table</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
    </tr>
    <tr>
        <td>Mona</td>
        <td>21</td>
        <td>Riyadh</td>
    </tr>
    <tr>
        <td>Ali</td>
        <td>22</td>
        <td>Jeddah</td>
    </tr>
    <tr>
        <td>Sarah</td>
        <td>20</td>
        <td>Dammam</td>
    </tr>
</table>

</body>
</html>