{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% block stylesheets %}{% endblock stylesheets %}
</head>



<div class="topnav">

<a class="{% if url_name == 'books.index' %}active{% endif %}" href="{% url "books.index" %}">Home</a>

<a class="{% if url_name == 'books.list_books' %}active{% endif %}" href="{% url "books.list_books" %}">List Books</a>

<a class="{% if url_name == 'books.aboutus' %}active{% endif %}" href="{% url "books.aboutus" %}">About</a>

</div>

{% endwith %}